<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cat.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />
    <!-- 访问互联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.ta.TAApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThinkAndroidMainActivity" >
        </activity>
        <activity android:name=".ThinkAndroidCacheActivtiy" >
        </activity>
        <activity android:name=".ThinkAndroidDBActivtiy" >
        </activity>
        <activity android:name=".ThinkAndroidImageCacheActivtiy" >
        </activity>
        <activity android:name=".ThinkAndroidMvcActivtiy" >
        </activity>
        <activity android:name=".ThinkAndroidHttpActivtiy" >
        </activity>
        <activity android:name=".ThinkAndroidDwonLoadActivtiy" >
        </activity>
        <activity android:name=".ThinkAndroidMultiThreadDwonLoadActivtiy" >
        </activity>
        <activity android:name=".ThinkAndroidSimpleDwonLoadActivtiy" >
        </activity>
        <activity android:name=".ThinkAndroidSimpleTwoDwonLoadActivtiy" >
        </activity>
        <activity android:name=".ThinkAndroidOtherActivtiy" >
        </activity>

        <receiver android:name="com.ta.util.netstate.TANetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="ta.android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>